numpy
tqdm
huggingface-hub
wandb
tabulate
seaborn
matplotlib
pandas
# requires torch 2.10.0.dev
# pip install --pre torch --index-url https://download.pytorch.org/whl/nightly/ --upgrade
#torch
datasets
tiktoken
transformers
pytest

