# test config, attempts overfit
wandb_log: true
wandb_project: 'daisy-linear'
wandb_run_name: 'pico-overfit-cuda'
# Torch config
torch.coordinate_descent_tuning: false
# Pretraining configuration
train_shards: "data/overfit/edu_fineweb_overfit_1M.bin"
target_tokens: 41_943_040
cooldown_frac: 0.5
learning_rate_schedule: linear_decay
learning_rate_floor: 0.001
training_sequence_length: 65536        #  N * 1024; must be divisible by window_block_size
train_attention_window_len: 3456        # largest sliding attention window used during training; must be divisible by window_block_size
# Optimizers configuration
optimizers:
  - type: AdamW
    betas: [0.8, 0.95]
    eps: 1.0e-10
    weight_decay: 0.0
    fused: true
    params:
      - group: head_params
        lr: 0.004
      - group: embed_params
        lr: 0.2
      - group: scalar_params
        lr: 0.015
  - type: Muon
    momentum: 0.95
    weight_decay: 0.0
    params:
      - group: hidden_matrix_params
        lr: 0.02
full_windows: true
# Gradient accumulation
grad_acc_steps: 1
# Evaluations
# NOTE: we don't care about val loss since we're overfitting on the training data
val_shards:
  - type: "fineweb-edu"
    path: "data/overfit/edu_fineweb_overfit_1M.bin"
val_loss_every_tokens: 999_999_999_999
val_seq_len: 1
tot_val_tokens: 8
# Checkpoints
save_checkpoint: true
checkpoint_warmup_tokens:     41_943_038
checkpoint_per_n_tokens:      1
# Model Definition
model_spec: daisy_pico_256